.claude/
.dotnet/
.vs/
[Bb]in/
[Oo]bj/
[Xx]64/
[Xx]86/
Debug/
Release/
*.user
*.suo
*.ipch
*.pdb
*.obj
*.iobj
*.ipdb
*.tlog
*.lastbuildstate
*.recipe
*.FileListAbsolute.txt
*.dll
*.exe
*.exp
*.ilk
*.lib
*.rar
Nexus-Dr.6d5ad41e/
